In [2]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import tensorflow as tf
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.models import Sequental

ModuleNotFoundError: No module named 'tensorflow'

In [24]:
df = pd.read_csv('credit_train.csv', sep=';', encoding='cp1251')

In [25]:
df.head()

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,1,M,NaN,NaN,UMN,"59998,00",10,1.6,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
1,2,F,NaN,MAR,UMN,"10889,00",6,1.1,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
2,3,M,32.0,MAR,SPC,"10728,00",12,1.1,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
3,4,F,27.0,NaN,SPC,"12009,09",12,1.1,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
4,5,M,45.0,NaN,SPC,NaN,10,1.1,"0,421385",SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0

In [26]:
avrg_age = round(df['age'].mean())
avrg_age

36

In [27]:
df['age'].fillna(avrg_age, inplace=True)
df.head()

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,1,M,36.0,NaN,UMN,"59998,00",10,1.6,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
1,2,F,36.0,MAR,UMN,"10889,00",6,1.1,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
2,3,M,32.0,MAR,SPC,"10728,00",12,1.1,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
3,4,F,27.0,NaN,SPC,"12009,09",12,1.1,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
4,5,M,45.0,NaN,SPC,NaN,10,1.1,"0,421385",SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0

In [28]:
df['monthly_income'].fillna(0)

0         30000.0
1             0.0
2             0.0
3             0.0
4             0.0
           ...
170741    40000.0
170742    30000.0
170743    40000.0
170744    31000.0
170745    40000.0
Name: monthly_income, Length: 170746, dtype: float64

In [17]:
# df['marital_status'].fillna(0, inplace=True)
# df['marital_status'].replace('MAR', 1)

0           0
1           1
2           1
3           0
4           0
         ...
170741    UNM
170742      1
170743    UNM
170744    DIV
170745      1
Name: marital_status, Length: 170746, dtype: object

In [33]:
encoder = LabelEncoder()

In [40]:
marital_status = encoder.fit_transform(df['marital_status'])
job_position = encoder.fit_transform(df['job_position'])

In [41]:
df['marital_status'] = marital_status
df['job_position'] = job_position

In [51]:
df['credit_sum'].fillna(0, inplace=True)

In [47]:
df

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,1,M,36.0,5,14,"59998,00",10,1.60,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
1,2,F,36.0,2,14,"10889,00",6,1.10,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
2,3,M,32.0,2,13,"10728,00",12,1.10,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
3,4,F,27.0,5,13,"12009,09",12,1.10,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
4,5,M,45.0,5,13,NaN,10,1.10,"0,421385",SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170741,170742,F,27.0,3,13,"64867,00",12,1.10,"0,535257",GRD,РЕСПУБЛИКА ТАТАРСТАН,40000.0,6.0,0.0,0
170742,170743,F,24.0,2,13,"17640,00",6,1.60,"0,573287",SCH,САНКТ-ПЕТЕРБУРГ Г,30000.0,1.0,0.0,0
170743,170744,F,31.0,3,13,"27556,47",10,1.32,"0,416098",GRD,ПРИМОРСКИЙ КРАЙ,40000.0,1.0,0.0,0
170744,170745,F,53.0,1,9,"6189,00",12,1.10,"0,482595",SCH,ПЕНЗЕНСКАЯ ОБЛ,31000.0,2.0,0.0,0
170745,170746,M,49.0,2,13,"12787,00",10,1.10,"0,316087",GRD,ОБЛ МОСКОВСКАЯ,40000.0,3.0,0.0,0

In [48]:
df['gender'].replace('M', 1, inplace=True)
df['gender'].replace('F', 0, inplace=True)

In [58]:
df['monthly_income'].fillna(0, inplace=True)

In [55]:
df['education'] = encoder.fit_transform(df['education'])

In [59]:
df

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,1,1,36.0,5,14,"59998,00",10,1.60,NaN,1,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
1,2,0,36.0,2,14,"10889,00",6,1.10,NaN,5,МОСКВА,0.0,2.0,0.0,0
2,3,1,32.0,2,13,"10728,00",12,1.10,NaN,5,ОБЛ САРАТОВСКАЯ,0.0,5.0,0.0,0
3,4,0,27.0,5,13,"12009,09",12,1.10,NaN,5,ОБЛ ВОЛГОГРАДСКАЯ,0.0,2.0,0.0,0
4,5,1,45.0,5,13,0,10,1.10,"0,421385",3,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170741,170742,0,27.0,3,13,"64867,00",12,1.10,"0,535257",1,РЕСПУБЛИКА ТАТАРСТАН,40000.0,6.0,0.0,0
170742,170743,0,24.0,2,13,"17640,00",6,1.60,"0,573287",3,САНКТ-ПЕТЕРБУРГ Г,30000.0,1.0,0.0,0
170743,170744,0,31.0,3,13,"27556,47",10,1.32,"0,416098",1,ПРИМОРСКИЙ КРАЙ,40000.0,1.0,0.0,0
170744,170745,0,53.0,1,9,"6189,00",12,1.10,"0,482595",3,ПЕНЗЕНСКАЯ ОБЛ,31000.0,2.0,0.0,0
170745,170746,1,49.0,2,13,"12787,00",10,1.10,"0,316087",1,ОБЛ МОСКОВСКАЯ,40000.0,3.0,0.0,0

In [74]:
df['score_shk'].apply(to_num)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<string>, line 1)

In [99]:
def to_num(data):
    if type(data) in (int, float):
        return data
    else:
        return float(data)

In [83]:
df.columns

Index(['client_id', 'gender', 'age', 'marital_status', 'job_position',
       'credit_sum', 'credit_month', 'tariff_id', 'score_shk', 'education',
       'living_region', 'monthly_income', 'credit_count',
       'overdue_credit_count', 'open_account_flg'],
      dtype='object')

In [122]:
df

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,1,1,36.0,5,14,59998.00,10,1.60,0,1,30000.0,1.0,1.0,0
1,2,0,36.0,2,14,10889.00,6,1.10,0,5,0.0,2.0,0.0,0
2,3,1,32.0,2,13,10728.00,12,1.10,0,5,0.0,5.0,0.0,0
3,4,0,27.0,5,13,12009.09,12,1.10,0,5,0.0,2.0,0.0,0
4,5,1,45.0,5,13,NaN,10,1.10,"0,421385",3,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170741,170742,0,27.0,3,13,64867.00,12,1.10,"0,535257",1,40000.0,6.0,0.0,0
170742,170743,0,24.0,2,13,17640.00,6,1.60,"0,573287",3,30000.0,1.0,0.0,0
170743,170744,0,31.0,3,13,27556.47,10,1.32,"0,416098",1,40000.0,1.0,0.0,0
170744,170745,0,53.0,1,9,6189.00,12,1.10,"0,482595",3,31000.0,2.0,0.0,0
170745,170746,1,49.0,2,13,12787.00,10,1.10,"0,316087",1,40000.0,3.0,0.0,0

In [100]:
df = df.drop('living_region', axis=1)

KeyError: "['living_region'] not found in axis"

In [120]:
df['credit_sum'] = df['credit_sum'].apply(replace_dot)
df['credit_sum'].dropna(inplace=True)

In [131]:
df.corr()

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,monthly_income,credit_count,overdue_credit_count,open_account_flg
client_id,1.000000,0.003128,-0.000529,0.001080,0.000803,-0.002265,-0.000338,0.000173,0.001565,0.001162,-0.001999,0.001943,-0.005231,0.001898
gender,0.003128,1.000000,-0.129946,0.013860,-0.023047,0.035469,0.002907,0.012039,-0.015342,0.070437,0.206220,-0.014889,0.001196,0.035098
age,-0.000529,-0.129946,1.000000,-0.090545,-0.114448,-0.084675,0.007022,-0.100809,-0.139830,0.052912,-0.029389,0.116678,0.007785,0.005239
marital_status,0.001080,0.013860,-0.090545,1.000000,0.012911,0.031596,-0.003157,0.035879,0.071132,0.018370,-0.033090,-0.061554,-0.018325,0.016162
job_position,0.000803,-0.023047,-0.114448,0.012911,1.000000,-0.054352,-0.009558,0.002914,0.004423,0.001026,-0.118323,-0.003772,-0.003894,-0.029319
credit_sum,-0.002265,0.035469,-0.084675,0.031596,-0.054352,1.000000,0.229169,0.091478,0.048770,-0.174843,0.356649,0.015828,-0.003831,-0.077278
credit_month,-0.000338,0.002907,0.007022,-0.003157,-0.009558,0.229169,1.000000,-0.050300,0.042558,-0.012763,0.007138,0.050426,0.006476,0.022455
tariff_id,0.000173,0.012039,-0.100809,0.035879,0.002914,0.091478,-0.050300,1.000000,0.383261,0.064111,0.016411,-0.053729,0.086769,-0.072342
score_shk,0.001565,-0.015342,-0.139830,0.071132,0.004423,0.048770,0.042558,0.383261,1.000000,0.250681,-0.102924,-0.093977,0.170518,0.037705
education,0.001162,0.070437,0.052912,0.018370,0.001026,-0.174843,-0.012763,0.064111,0.250681,1.000000,-0.199262,-0.034148,-0.022113,0.062827
monthly_income,-0.001999,0.206220,-0.029389,-0.033090,-0.118323,0.356649,0.007138,0.016411,-0.102924,-0.199262,1.000000,0.146479,0.033713,-0.016531
credit_count,0.001943,-0.014889,0.116678,-0.061554,-0.003772,0.015828,0.050426,-0.053729,-0.093977,-0.034148,0.146479,1.000000,0.177327,0.036018
overdue_credit_count,-0.005231,0.001196,0.007785,-0.018325,-0.003894,-0.003831,0.006476,0.086769,0.170518,-0.022113,0.033713,0.177327,1.000000,0.023461
open_account_flg,0.001898,0.035098,0.005239,0.016162,-0.029319,-0.077278,0.022455,-0.072342,0.037705,0.062827,-0.016531,0.036018,0.023461,1.000000

In [130]:
scaler = StandardScaler()

In [121]:
df_standartized = scaler.fit_transform(df)

ValueError: could not convert string to float: '0,421385'

In [113]:
def replace_dot(string):
    if type(string) == str: 
        result = string.replace(',', '.')
        result = float(result)
        return result

In [124]:
df['credit_sum'].dropna(inplace=True)

In [126]:
df['score_shk'] = df['score_shk'].apply(replace_dot)

In [129]:
df.dropna(inplace=True)

In [135]:
X = df.drop('open_account_flg', axis=1)
y = df['open_account_flg']

In [136]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [138]:
model = LogisticRegression()

In [139]:
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
y_test_pred = model.predict(X_test)

In [1]:
accuracy_score(y_test, y_test_pred)

NameError: name 'accuracy_score' is not defined

Здесь попытался использовать нейросеть

In [ ]:
model = Sequental()
model.add(Dense(14, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(14, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=10, batch_size=32)
y_predictions = model.predict(X_test)